:root {
    --theme: #F19200;
    --accent: #96c11f;
    --tertiary: #c9b500;
}

.c-hero {
    background: white;
    /* color: white; */
    box-shadow: none;
    height: 100vh;
    color: var(--primary);
    background-image: url("/resources/sandy-millar-5ZVL9gVLWv4-unsplash_cropped.jpg");
    background-size: cover;
    background-position: right top;
}

.c-hero__title-wrapper {
    z-index: 0;
    flex-direction: column;
}

.c-hero__title {
    margin-bottom: 1.5rem;
}

.c-hero__subtitle {
    /* font-style: italic; */
    opacity: 0.8;
    max-width: 30ch;
}

.c-hamburger__line {
    background-color: white;
}

h3 {
    /* border-left: 4px solid var(--theme);
    padding-left: 0.6rem; */
}

.c-hero__title-logo {
    margin-right: 1rem;
}


@media (max-width: 798px) {
    .c-hero__title {
        margin-bottom: 0.5rem;
        line-height: normal;
    }
    .c-hero__subtitle {
        font-size: var(--size-500);
        line-height: normal;
    }
}

@media (max-width: 350px) {
    .c-hero__title {
        margin-bottom: 0;
    }
    .c-hero__subtitle {
        font-size: var(--size-400);
    }
}

@media screen and (max-width: 768px) {
    .l-sticky-top {
        position: fixed;
        top: 0px;
    }
}