:root {
    --theme: rgb(207, 97, 7);
    --secondary-color: #2F5597;
}

main {
    overflow-x: hidden;
}

.c-hero.c-hero--feature-logo {
    background: white;
    /* color: white; */
    box-shadow: none;
    height: 100vh;
    color: white;
    background-image: url("/resources/sandy-millar-5ZVL9gVLWv4-unsplash_cropped.jpg");
    background-size: cover;
    background-position: 80% 0%;
}

.c-hero {
    color: white;
    background-color: var(--primary-color);
}

.c-hero h1 {
    line-height: normal;
    text-align: center;
}

.c-hero__title-wrapper {
    z-index: 0;
    flex-direction: column;
}

.c-hero__title {
    margin-bottom: 1.5rem;
}

.c-hero__subtitle {
    /* font-style: italic; */
    opacity: 0.8;
    max-width: 30ch;
}

.c-hamburger__line {
    background-color: white;
    mix-blend-mode: difference;
}

h3 {
    /* border-left: 4px solid var(--theme);
    padding-left: 0.6rem; */
}

.c-h2 {
    font-weight: 400;
}

.c-h2--theme {
    color: var(--theme);
}

.c-h2--secondary {
    color: var(--secondary-color);
}

.c-h3 {
    font-weight: 400;
}

.c-h3--theme {
    color: var(--theme);
}

.c-h3--secondary {
    color: var(--secondary-color);
}

h4 {
    font-size: var(--size-400);
    opacity: 0.8;
}

p {
    line-height: 1.6rem;
}


a {
    color: inherit;
    text-decoration: none;
}

.c-hero__title-logo {
    margin-right: 1rem;
}

.c-section__content p {
    margin-bottom: 0.9rem;
}

.c-section__content h4 {
    margin-bottom: 0.3rem;
}

.c-section__content h4:first-child {
    margin-top: 0;
}

.c-section__content p:last-child {
    margin-bottom: 0;
}

.c-section__title {
    margin-bottom: 2.5rem;
}

.c-beearc-section {
    margin-bottom: 4rem;
}

.c-beearc-section__title {
    margin-bottom: 1rem;
}

.c-beearc-section__sub-sections {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 2rem;
}

.c-beearc-section:last-child {
    margin-bottom: 0;
}

.c-beearc-section ul {
    margin-top: 0.5rem;
}

.c-beearc-section li {
    margin-bottom: 0.3rem;
}

.c-beearc-section li:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .c-h3 {
        padding-top: 45px;
        margin-top: -45px;
    }
}




.c-navbar__sub-menu {
    background-color: white;
    list-style: none;
    color: black;
}

.c-navbar__sub-menu.show {
    background-color: white;
    opacity: 0.8;
}


.c-navbar__sub-element {
    background-color: transparent;
}

.c-navbar__sub-link {
    background-color: transparent;
}

.l-block {
    padding-top: 8rem;
    padding-bottom: 8rem;
    overflow: hidden;
}

ul {
    list-style-type: disc;
    margin-left: 1.2rem;
}

li {
    text-align: left;
}


@media (max-width: 798px) {
    .c-hero__title {
        margin-bottom: 0.5rem;
        line-height: normal;
    }
    .c-hero__subtitle {
        font-size: var(--size-500);
        line-height: normal;
    }
}

@media (max-width: 350px) {
    .c-hero__title {
        margin-bottom: 0;
    }
    .c-hero__subtitle {
        font-size: var(--size-400);
    }
}

@media screen and (max-width: 768px) {
    .l-sticky-top {
        position: fixed;
        top: 0px;
    }
}